.App {

  @media (max-width: 768px) {
    td, th {
      font-size: 0.8rem;
    }
  }
  
  text-align: center;

  .App-header {
    background-color: #282c34;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column; /* Keep it as column to stack items vertically */
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  /* Additional wrapper for logo and title for horizontal alignment */
  .logo-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Ensures it takes full width for centering */
  }
  
  .App-logo {
    margin-right: 20px; /* Adjust spacing between logo and title */
    height: 60px; /* Adjust based on the size of your logo */
  }
  

  .UsersTable {
    overflow-x: auto;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;

      th, td {
        padding: 10px;
        border: 1px solid #ccc;
        text-align: center;
      }

      th {
        background-color: #f0f0f0;
      }

      tr:nth-child(even) {
        background-color: #f5f5f5;
      }
    }
  }

  a {
    color: #00b6ff;
    text-decoration: none;
  }

  a:visited {
    color: #00b6ff;
    text-decoration: none;
  }

  a:hover {
    color: #00b6ff;
    text-decoration: underline;
  }

}

footer {
  text-align: center;
  margin-top: 40px;
}

footer a {
  color: #0096FE;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}